{:paths ["resources" "src" "test"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        leiningen-core/leiningen-core {:mvn/version "2.9.1"}}

 :tools/usage {:ns-default lein-basis.core}

 :aliases {} }